body {
  margin: 0;
  background: linear-gradient(#0f172a, #020617);
  font-family: Arial, sans-serif;
  color: white;
}

/* LOGO */
.logo {
  text-align: center;
  padding: 60px;
}

.logo img {
  width: 1100px;
  max-width: 100%;
}

/* LIST CONTAINER */
.addon-list {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

/* ADDON CARD */
.addon-card {
  background: #111827;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  text-align: center;
}

/* ADDON IMAGE */
.addon-card img {
  width: 100%;
  background: white;
  border-radius: 6px;
}

/* ADDON LINK */
.addon-card a {
  display: block;
  margin-top: 8px;
  padding: 6px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.addon-card a:hover {
  text-decoration: underline;
}








